@media (min-width: 480px) {
    .arrowContainer {
        border-radius: 50%;
        box-shadow: 2px 4px 8px 0px grey;
        height: 7vh;
        width: 9vh;
        padding: 1%;
        margin-bottom:1.5%;
        margin-top: 1%;
        margin-left:1.5%;
        cursor: pointer;
    }
    .arrow{
        height: 3vh;
        width: 2vw;
        margin-left: 10%;
        margin-bottom: 20%;
        cursor: pointer;
        
    }
    .arrowContainer:hover {
        box-shadow: 4px 8px 10px 2px grey;
    }
}