@media (min-width: 480px) {
    #fade {
        width: 100%;
    }
    .postContainer {
        width: 65vw;
        display: grid;
    }
    .postBody {
        color: black;
        font-size: 20px;
    }
    .postBodyContainer{
        background: rgb(172, 232, 255);
        padding: 1%;
        margin-bottom: 1em;
        border-radius: 0.25em;
    }
    .commentBodyContainer{
        background: rgb(182, 233, 212);
        padding: 1%;
        margin-bottom: 1em;
        border-radius: 0.25em;
    }
    .commentBody {
        color: black;
        font-size: 20px;
    }
    

    /* .commentDiv {
        margin-left: 30%;
    } */
}

@media (min-width: 375px) and (max-width: 480px) {
    #fade {
        width: 85vw;
    }
    .postContainer {
        width: 65vw;
        display: grid;
        padding: 1%;
    }
    .postBody {
        color: black;
        font-size: 20px;
    }
    .postBodyContainer{
        background: rgb(172, 232, 255);
        padding: 1%;
        
        border-radius: 0.25em;
    }
    .commentBodyContainer{
        background: rgb(182, 233, 212);
        padding: 1%;
        margin-bottom: 1em;
        border-radius: 0.25em;
    }
    .commentBody {
        color: black;
        font-size: 20px;
    }


    /* .commentDiv {
        margin-left: 30%;
    } */
}