@media (min-width: 480px){
  
    
    .dashboardContainer {
        display: flex;
        width: 100%;
        background: rgb(206, 237, 252);
        border-radius: 1em 1em 0 0 ;
        height: 695px;
    }
    .dashHeading{
        display: flex;
        justify-content: center;
        border-radius: 0.5em;
        font-size: 25px;
        padding: 3%;
        color: black;
        background: rgb(248, 234, 234);
        min-height: 80px;
        font-weight: bold;
    }
    .dashHeading1{
        display: flex;
        justify-content: space-between;
        border-radius: 0.5em;
        font-size: 25px;
        padding: 3%;
        color: black;
        background: rgb(248, 234, 234);
        min-height: 80px;
        font-weight: bold;
    }
    .createdRecipeDiv {
        display: flex;
        flex-direction: column;
    
        width: 40vw;
        padding: 1%;  
    }
    .createdItems {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 1px 2px 4px 0px grey;
        border-radius: 1em;
        padding: 1.5%;
        background: white;
        margin-top: 1%;
        cursor: pointer;
        height: 80px;
    }
    .createdItems:hover {
        box-shadow: 2px 5px 8px 4px grey;
        
    }
    .createdItems1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 1px 2px 4px 0px grey;
        border-radius: 1em;
        padding: 1.5%;
        background: white;
        margin-top: 1%;
        cursor: pointer;
      
    }

    .createdItems1:hover {
        box-shadow: 2px 5px 8px 4px grey;
        
    }
    #recipeLink {
        font-size: 18px;
        color: black;
        font-weight: 600;
    }
    .verticalContainer {
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    .createRecipeDiv {
        display: flex;
        flex-direction: column;
        background: rgb(245, 215, 215);
        color: white;
        bottom: 0;
        position: absolute;
        box-shadow: 1px 2px 4px 0px grey;
    }
    #createdButtons{
        display: flex;
        max-height: 60px;
        padding: 1%;
    }
 
  
    .favoriteRecipeDiv {
        width: 25vw;
    }
    .postsOnYourRecipeDiv {
        padding: 1%;
        width: 35vw;
        overflow-y: auto;
        overflow-x: auto;
    }
    .paginationDiv {
        padding-top: 5%;
        flex-direction: row;
        justify-content: space-evenly;
        width: 5vw;
        margin-top: 550px;
        margin-left: 15%;
        position: absolute;
       
    }
}

@media  (max-width: 480px){
    
    .dashboardContainer {
        display: flex;
        flex-direction: column;
        width: 95vw;
   
        margin-bottom: 10%;
        margin-top: 12%;
        height: 160vh;
    }
    .dashHeading{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        padding: 4%;
        width: 100vw;
        border-radius: 1em;
        color: black;
        background: rgb(248, 234, 234);
        min-height: 7vh;
        font-weight: bold;
        margin-top: 15px;
        
    }
    .dashHeading1{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        padding: 4%;
        width: 100vw;
        border-radius: 1em;
        color: black;
        background: rgb(248, 234, 234);
        min-height: 7vh;
        font-weight: bold;
       
        
    }
    .createdRecipeDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 820px;
        width: 95vw;
        padding: 1%;
    }
    #createdRecipes{
        min-height: 600px;
    }
    .createdItems {
        width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 1em;
        box-shadow: 1px 2px 4px 0px grey;
        padding: 2%;
        background: white;
        margin-top: 2%;
        cursor: pointer;
        
    }
    .createdItems1 {
        width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 1em;
        box-shadow: 1px 2px 4px 0px grey;
        padding: 2%;
        background: white;
        margin-top: 2%;
        cursor: pointer;
        
    }
    #createdButtons{
        display: flex;
        max-height: 40px;
    }
    .createdItems:hover {
        box-shadow: 2px 5px 8px 4px grey;
        
    }
 
    #recipeLink {
        font-size: 18px;
        color: black;
        font-weight: 600;
    }
    .verticalContainer {
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    .createRecipeDiv {
        display: flex;
        flex-direction: column;
        height: 30vh;
        width: 26vw;
        background: rgb(245, 215, 215);
        color: white;
        bottom: 0;
        position: absolute;
        box-shadow: 1px 2px 4px 0px grey;

        
       
    }
  
    .createRecipeDiv:hover {
        box-shadow: 2px 5px 8px 4px grey;
        color: white;
    }
    .createRecipeDiv p {
        font-size: 150px;
    }
    .createdRecipeDiv p:hover {
        color: rgb(142, 199, 236);
        cursor: pointer;
    }
    .favoriteRecipeDiv {
        height:100px;
        width: 93vw;
    }
    .postsOnYourRecipeDiv {
        padding: 1%;
        min-height: 700px;
        width: 100vw;
       
    }
    .paginationDiv {
        margin-top: 550px;
        flex-direction: row;
        justify-content: space-evenly;
        width: 5vw;
        margin-left: 40%;
        position: absolute;
        z-index: -1;
    }
}