@media (min-width: 480px){
    .dashboardBack {
        background: rgb(215, 243, 215);
        background-image: url(../../images/limes.png);
        padding: 2%;
        
    }
    
    .dashboardContainer {
        display: flex;
        width: 80vw;
        height: 100vh;
        margin: 0 auto;
        box-shadow: 4px 4px 8px 2px grey;
        background: rgb(206, 237, 252);
        opacity: .9;
    }
    .dashHeading{
        font-size: 20px;
        padding: 2%;
        border-bottom: 1px solid grey;
        color: black;
        background: rgb(248, 234, 234);
        min-height: 7vh;
    }
    .createdRecipeDiv {
        display: flex;
        flex-direction: column;
        border-right: 1px solid grey;
        height: 100vh;
        width: 38vw;
        padding: 1%;
        
    }
    .createdItems {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 1px 2px 4px 0px grey;
        padding: 1%;
        background: white;
        margin-top: 1%;
        cursor: pointer;
    }
    .createdItems:hover {
        box-shadow: 2px 5px 8px 4px grey;
        
    }
    .createdRecipeDiv span {
        margin-top: 2%;
    }
    #recipeLink {
        font-size: 20px;
        color: black;
        font-weight: 600;
    }
    .verticalContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 1%;
    }
    .createRecipeDiv {
        display: flex;
        flex-direction: column;
        height: 30vh;
        width: 26vw;
        background: rgb(245, 215, 215);
        color: white;
        bottom: 0;
        position: absolute;
        box-shadow: 1px 2px 4px 0px grey;

        
       
    }
  
    .createRecipeDiv:hover {
        box-shadow: 2px 5px 8px 4px grey;
        color: white;
    }
    .createRecipeDiv p {
        font-size: 150px;
    }
    .createdRecipeDiv p:hover {
        color: rgb(142, 199, 236);
        cursor: pointer;
    }
    .favoriteRecipeDiv {
        border-right: 1px solid grey;
        height: 100vh;
        width: 25vw;
    }
    .postsOnYourRecipeDiv {
        padding: 1%;
        height: 100vh;
        width: 35vw;
    }
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 8vw;
    }
}

@media  (max-width: 480px){
    .dashboardBack {
        background: rgb(215, 243, 215);
        background-image: url(../../images/limes.png);
    }
    
    .dashboardContainer {
        display: flex;
        flex-direction: column;
        width: 95vw;
        margin-left: 2%;
        margin-bottom: 10%;
        margin-top: 22%;
        height: 150vh;
        box-shadow: 4px 4px 8px 2px grey;
        background: rgb(206, 237, 252);
        opacity: .9;
    }
    .dashHeading{
        font-size: 20px;
        padding: 2%;
        width: 93vw;
        border-bottom: 1px solid grey;
        color: black;
        background: rgb(248, 234, 234);
        min-height: 7vh;
    }
    .createdRecipeDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 95vw;
        padding: 1%;
        
    }
    .createdItems {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 1px 2px 4px 0px grey;
        padding: 1%;
        background: white;
        margin-top: 1%;
        cursor: pointer;
    }
    .createdItems:hover {
        box-shadow: 2px 5px 8px 4px grey;
        
    }
    .createdRecipeDiv span {
        margin-top: 2%;
    }
    #recipeLink {
        font-size: 20px;
        color: black;
        font-weight: 600;
    }
    .verticalContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 1%;
    }
    .createRecipeDiv {
        display: flex;
        flex-direction: column;
        height: 30vh;
        width: 26vw;
        background: rgb(245, 215, 215);
        color: white;
        bottom: 0;
        position: absolute;
        box-shadow: 1px 2px 4px 0px grey;

        
       
    }
  
    .createRecipeDiv:hover {
        box-shadow: 2px 5px 8px 4px grey;
        color: white;
    }
    .createRecipeDiv p {
        font-size: 150px;
    }
    .createdRecipeDiv p:hover {
        color: rgb(142, 199, 236);
        cursor: pointer;
    }
    .favoriteRecipeDiv {
        height: 50vh;
        width: 93vw;
    }
    .postsOnYourRecipeDiv {
        padding: 1%;
        height: 500vh;
        width: 93vw;
    }
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 8vw;
    }
}