@media (min-width: 480px) {
    .formDiv {
        display: flex;
        width: 50vw;
        background: white;
        padding: 2%;
        opacity: 0.95;
    
    }
    
    .formDiv form {
        margin: 0 auto;
        min-width: 50%;
    }

}
@media  (max-width: 480px) {
    
    .formDiv {
        display: flex;
        width: 87vw;
        background: white;
        padding: 2%;
        opacity: 0.95;
    
    }
   
    
    .formDiv form {
        margin: 0 auto;
        min-width: 50%;
    }

}

