@media (min-width: 480px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        height: 80vh;
        min-width: 30%;
        padding: 2%;
    }
    .formContainer span {
        padding: 5%;
    } 
    .form {
        width: 80%;
    }

}
