@media (min-width: 480px) {
    .searchForm {
        display: flex;
        justify-content: center;
        margin-left: 50%;
        width: 67vw;
    }

    .sForm {
        margin-left: 15%;
    }

}
@media (max-width: 375px) and (max-width: 480px){
    .searchForm {
        display: none;
    }


}