@media (min-width: 480px) {
    .searchForm {
        margin-left: 30%;
        width: 67vw;
    }

}
@media (min-width: 375px) {
    .searchForm {
        display: flex;
        flex-direction: column;
        margin-left: 17%;
        width: 80vw;
    }


}