@media (min-width: 480px) {
    .searchForm {
        width: 400px;
     
    }

    .sForm {
        display: flex;
        justify-content: space-evenly;
        
    }
    .searchbtn {
        margin-left: 40px;
    }
    

}
@media (max-width: 480px){
    .searchbtn {
        width: 20px;
    }
}