@media (min-width: 480px) {
    .recipeForm {
        width: 75%;
        margin: 0 auto;
        overflow-x: hidden;
        padding: 2%;
        margin-bottom: 10%;
        box-shadow: 4px 8px 8px 0px rgb(128, 128, 128);
        background: white;
        opacity: .9;
    }

    .recipeFormContainer {
        background-image: url(../../images/salad.png);
        background-size: 300vh;
     
        
    }
}

@media (min-width: 375px) and (max-width: 376px) {
    .recipeForm {
        width: 95vw;
        margin: 0 auto;
        overflow-x: hidden;
        padding: 2%;
        margin-top: 25%;
        margin-bottom: 10%;
        box-shadow: 4px 8px 8px 0px rgb(128, 128, 128);
        background: white;
        opacity: .9;
    }

    .recipeFormContainer {
        background-image: url(../../images/salad.png);
        background-size: 300vh;
     
        
    }
}


