@media (min-width: 480px) {
    .loadDiv {
        display: flex;
        width: 100vw;
        min-width: 20vw;
        height: 100vh;
        justify-content: center;
    }

    .recipeDiv{
       

    }
    .recipeBodyDiv{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 80vw;
        padding: 3%;
        border-bottom: 1px solid grey;

    }
    .recipeBodyDiv div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .recipeBodyDiv img {
        border-radius: 5%;
        box-shadow: 2px 4px 8px 0px grey;
    }
    .ingEquipDiv {
        margin: 2% auto;
        display: flex;
        width: 70vw;
        padding: 3%;

        box-shadow: 2px 4px 8px 0px grey;
    }

    .ingEquipDiv span {
        border-right: 1px solid grey;
        padding: 1%;
    }
  
    .ingEquipDiv li {
        list-style: none;
    }
    .procedureDiv{
        margin: 1% auto;
        display: flex;
        width: 70vw;
        padding: 3%;
        box-shadow: 2px 4px 8px 0px grey;

    }
    .procedureDiv span {
        border-right: 1px solid grey;
        padding: 1%;
        margin-right: 2%;
    }
    #comments {
        margin: 1% auto;
        display: flex;
        width: 70vw;
        padding: 3%;
        box-shadow: 2px 4px 8px 0px grey;
    }
}